/*----------------------------- import fonts -----------------------------*/
@import url('https://fonts.google.com/?query=lato&preview.text_type=custom&selection.family=Lato:ital,wght@0,400;1,300;1,400');

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 24px
}
h2 {
  font-size: 22px
}
h3 {
  font-size: 18px
}
h4 {
  font-size: 16px
}
h5 {
  font-size: 14px
}
h6 {
  font-size: 13px
}
  
p,li {
  color: rgb(85, 85, 85);
}

/*----------------------------- nav bar -----------------------------*/
/*https://itnext.io/how-to-create-a-responsive-navigation-bar-with-html-css-and-jquery-step-by-step-tutorial-9c780b58479f*/

nav{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin:0;
}

.logofigure{
  margin:0 2vw;
  display: flex;
  align-items: flex-start;
}

.logoimg{
  width:auto;
  height:78px;
  margin:0;
}

.arrowfigure{
  margin:0px -1px 0px 0px;
}

nav button{
  display: none; /* remove button on a wide screen */
}

nav ul{
  width: 700vw; /* 100% of the viewport width */
  background-color: rgb(140, 100, 170);
  height: 70px;
  display: flex; /* links in a row */
  align-items: center;
  text-transform: uppercase;
  margin:0;
  padding-left: 25px;
}

nav li{
  list-style-type: none; /* remove bullet point */
  margin: 0 1.5vw; /* add space between items in the list */
  font-size: 12px;
  font-weight: bold;
}
  
nav a{
  text-decoration: none; /* remove underline */
  color: rgb(254, 254, 254);
}

nav a:hover{
  color: rgb(92, 198, 208);
}

/*----------------------------- ABOUT -----------------------------*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0px 10vw;
}

.abtext {
  display: flex;
  flex-direction: column;
  flex: 1.3 1 0%;
  padding: 40px 0px 40px 40px;
  text-align: center;
}

.abouth2{
  text-align: center;
  font-weight: bold;
  color:  rgb(140, 100, 170);
  line-height: 50px;
  font-size: 50px;
}

.abtext p,ul{
  line-height: 28px;
  font-size: 15px;
}

.abfigure {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 40px 0px;
  align-items: center;
  justify-content: center;
}

.abimg{
  width:auto;
  height:350px;
}

/*----------------------------- BUTTON -----------------------------*/
/*https://fdossena.com/?p=html5cool/buttons/i.frag*/

.button{
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em; /* borda arredondada */
  text-decoration:none;  /* remove hiperlink */
  font-family:'Lato',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:  rgb(92, 198, 208);
  transition: all 0.2s;
  width: 25%;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.button:hover{
  background-color:#4095c6;
}

@media all and (max-width:30em){
a.button{
  display:block;
  margin:0.2em auto;
  }
}

/*----------------------------- GOALS -----------------------------*/

.centerh2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: bold;
  color:  rgb(140, 100, 170);
  line-height: 50px;
  font-size: 50px;
}

.column{
  list-style: none;
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.goaltext{
  background-color: rgb(220, 220, 220);
  padding: 40px;
  margin: 20px;
  line-height: 18px;
  text-align: center;
  flex: 1;
  font-size: 15px;
}

/*----------------------------- 1stWBDS -----------------------------*/

.purplerow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 20px 0px;
  background-color: rgb(140, 100, 170);
}

.purplerow h2{
  color:#FFFFFF;
  font-size: 40px;
  text-align: center;
  margin: 20px 0px;
}

.purplerow h2:hover {
  color: #c4c1c1;
}

.purplerow span{
  color:rgb(92, 198, 208);
  font-size: 30px;
  text-align: center;
}

.purplerow span:hover {
  color:#FFFFFF;
}

.p_purplerow{
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 30px;
}

/*----------------------------- PROJECTS -----------------------------*/
.projgrid{
  display: grid;
  grid-template-columns: 40% 20% 20%; 
  grid-template-rows: 200px 200px;
  justify-content: center;
  padding:40px;
  gap: 10px;
  text-align: center;
}

.projtext {
  grid-column-start:1;
  grid-row: 1/3;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projh2{
  text-align: center;
  font-weight: bold;
  color:  rgb(140, 100, 170);
  line-height: 50px;
  font-size: 50px;
  margin: 20px;
}

.projitem1{
  grid-column-start:2;
  background-color: rgb(220, 220, 220);
}

.projitem2{
  grid-column-start:3;
  background-color: rgb(220, 220, 220);
}

.projitem3{
  grid-column-start:2;
  grid-row-start:2;
  background-color: rgb(220, 220, 220);
}

.projitem4{
  grid-column-start:3;
  grid-row-start:2;
  background-color: rgb(220, 220, 220);
}

/*----------------------------- FOOTER -----------------------------*/

.mediarow {
  background-color: rgb(140, 100, 170);
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mediarow section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediarow h3 {
  color:#FFFFFF;
  margin-bottom: 0px;
}

.email {
  line-height: 70px;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}

.medialinks{
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:0;
  line-height: 13px;
  padding:0;
}

.medialinks li{
  list-style-type: none; /* remove bullet point */
  margin: 0 1.5vw; /* add space between items in the list */
}

.medialinks img:hover {
  background-color:rgb(92, 198, 208);
  border-radius: 20px;
}