@media screen and (max-width:800px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    nav{
        align-items: center;
        height: auto;
    }
    .logofigure img{
        width:auto;
        height:7vw;
        margin: 1vw;
      }
    .arrowfigure {
        display: none;
    }
    header{
        background-color: rgb(140, 100, 170);
        width: 100%;
        height: 5.12vw;
        margin-left: 3vw;
    }
    .menu-reveal{
        color: #fff;
        cursor: pointer;
        display: block;
        font-weight: 400;
        height: 22px;
        line-height: 22px;
        position: absolute;
        right: 24px;
        text-decoration: none;
        top: 12px;
        width: 26px;
    }
    .menu-reveal span{
        background: #ffffff
    }
    nav ul{
        flex-direction: column;
        height: auto;
        list-style-type: none;
        display: none;
    }
    .row{
        flex-direction: column-reverse;
        margin: 5vw 0vw;
    }
    .about{
        margin-right: 0;
    }
    .button{
        margin:0.2em auto;
    }
    .goals{
        margin: 5vw 0vw;
    }
    .goals ul{
        flex-direction: column;   
    }
    .purplerow{
        padding: 0vw 3vw;
    }
    .projects{
        margin: 5vw 0vw;   
    }
    .projects ul{
        grid-template-rows: auto auto;
        flex:1 1 100vw;
    }
    footer{
        flex-direction: column;
    }
    footer img{
        width: 5vw;
    }
}
@media (min-width: 1200px) and (max-width: 1500px)
nav ul > li a {
    padding: 11px 11px;
    font-size: 13px;
}