/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    .arrowfigure{
      display: none;
    }
  
    .logoimg{
      width:auto;
      height:150px;
      margin:0;
    }
    
    nav ul{
      flex-direction: column;
      padding: 0 40px;
      height: auto;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    nav li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    nav a{
      display: block;
    }
  
    nav button{
      /*makes the button visible*/
      display: block;
    }
  
    nav ul button{  
      /*since we are here, we can style it a little bit!*/
      padding: 2vw;
      font-size: 3vh;
      border: none;
      
      /*outline none removes the default blue border that appears anytime you click on the button*/
      outline: none;
      cursor: pointer;
      align-self: flex-start;
    }
    /*------------ ABOUT ----------*/
    .abtext {
        display: flex;
        flex-direction: column;
        flex:  2;
        padding: 40px 0px 40px 40px;
        text-align: center;
      }
  }